<a href="https://colab.research.google.com/github/abhinavbairy/Sales_Performance_Dashboard/blob/main/Superstore_Sales_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  **Data Cleaning & Preprocessing – Superstore Sales Dataset**

This notebook prepares the **"Sample - Superstore.csv"** dataset for Power BI analysis.  
It handles basic cleaning tasks like fixing data types, removing duplicates, creating new columns, and exporting a clean version.

## Dataset Attribution

- **Superstore Dataset**  
  Source: *Superstore Dataset – Kaggle (by vivek468)*  
  Contains sales, profit, and other retail insights.  
  Link: https://www.kaggle.com/datasets/vivek468/superstore-dataset-final

- **Sample Superstore Sales (Excel)**  
  Source: *Tableau Community*  
  Provided as sample data for Tableau training; some geographic data (like locations) may have been altered.  
  Link: https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

### Step 1: Import Required Library

We'll use **pandas** to load, clean, and export the dataset.

In [ ]:
# Import pandas for data handling
import pandas as pd

### Step 2: Load the Dataset

Load the raw "Sample - Superstore.csv" file and check the first few rows.

In [ ]:
# Load the dataset and take a first look
df = pd.read_csv('/content/Sample - Superstore.csv', encoding = 'latin1')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

### Step 3: Inspect Dataset Structure

Check column data types and look for any obvious issues (like missing values or wrong types).

In [ ]:
# Check dataset info for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

### Step 4: Fix Date Columns

Convert the 'Order Date' and 'Ship Date' columns from string to proper datetime format.

In [ ]:
# Convert Order Date, Ship Date columns to datetime type
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

### Step 5: Check for Missing Values

Identify any missing values in the dataset.

In [ ]:
# Check for any missing values in the dataset
df.isnull().sum(0)

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

### Step 6: Check for Duplicate Rows

Make sure there are no duplicate records in the dataset.

In [ ]:
# Check for duplicate rows
df.duplicated().sum()

np.int64(0)

### Step 7: Summary Statistics

Look at summary stats for numerical columns to understand the data distribution.

In [ ]:
# Summary statistics for numerical columns
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,55190.379428,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

### Step 8: Add Profit Margin Column

Create a new column that calculates profit margin (`Profit ÷ Sales`) and round it to 2 decimal places.  
This will help track profitability more clearly in Power BI.

In [ ]:
# Add a Profit Margin column
df['Profit_Margin'] = df['Profit']/df['Sales']
df['Profit_Margin'] = df['Profit_Margin'].round(2)
df['Profit_Margin'].head(10)

0    0.16
1    0.30
2    0.47
3   -0.40
4    0.11
5    0.29
6    0.27
7    0.10
8    0.31
9    0.30
Name: Profit_Margin, dtype: float64

### Step 9: Export the Cleaned Dataset

Export the cleaned and enhanced dataset as `Superstore_Cleaned.csv` to be used in Power BI.

In [ ]:
# Export cleaned and enhanced dataset for Power BI
df.to_csv('Superstore_Cleaned.csv', index = False)

### Step 10: Download the File

Download the final CSV file directly from Colab for use in the Power BI dashboard.

In [ ]:
# Download the cleaned CSV file
from google.colab import files
files.download('Superstore_Cleaned.csv')

---

##  **Summary**

This notebook cleaned the original Superstore dataset and added a new calculated column for **Profit Margin**.  
The final cleaned version was exported as `Superstore_Cleaned.csv`, which was used to create a detailed, 5-page Power BI dashboard analyzing:

- Sales and profit trends
- Product and sub-category performance
- Segment insights
- Discount impact
- Regional patterns

This preprocessing step ensures that Power BI receives clean, reliable data for better visual storytelling.